config.py
/__pycache__
/.venv
.DS_Store
/.idea
/cache
/templates/templates
/uploads
/session
/digicam/__pycache__
/templates/fonts
/channels/__pycache__
/routes/__pycache__
/utils/__pycache__
theme_customizer.html
