{% extends "generic/base.html" %}

{% block title %}
WiiLink Checkout | Contest Submissions
{% endblock %}

{% block content %}
{% set page_title = "Contest Submissions" %}
{% include "components/page_header.html" %}

<div class="min-h-screen sm:px-6 lg:px-8 py-12">
    <div class="max-w-6xl mx-auto">

        {% if submissions %}
        <ul class="grid grid-cols-1 lg:grid-cols-2 gap-6 list-none p-0">
            {% for submission in submissions %}
            {% include "components/contest_card.html" %}
            {% endfor %}
        </ul>

        <a href="https://miicontest.wiilink.ca/artisans/{{ artisan_id.artisan_id }}" target="_blank"
            class="flex flex-row items-center justify-between gap-3 inline-block mt-6 px-4 py-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700 transition">
            View {{ viewed_user.username }}'s Mii on the CMOC Viewer
            <img src="/static/icon/external-link.svg" alt="External Link" class="w-4 h-4 invert inline-block ml-1">
        </a>

        {% include "components/pagination.html" %}
        {% else %}
        <div class="text-center text-gray-400 py-12">No contest submissions found...
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}