{% extends "generic/base.html" %}

{% block title %}
WiiLink Checkout | Favorites for {{ viewed_user.username }}
{% endblock %}

{% block content %}
{% set page_title = "Favorites" %}
{% set nav_items = [
{'name': 'Recommendations', 'path': '/recommendations', 'active': False},
{'name': 'Time Played', 'path': '/time_played', 'active': False},
{'name': 'Favorites', 'path': '/favorites', 'active': True},
{'name': 'Polls', 'path': '/polls', 'active': False},
{'name': 'Suggestions', 'path': '/suggestions', 'active': False}
] %}
{% include "components/page_header.html" %}

{% if games %}
<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    {% for game in games %}
    {% set rec = game %}
    {% include "components/favorites_card.html" %}
    {% endfor %}
</div>
{% include "components/pagination.html" %}
{% else %}
<div class="text-center text-gray-300">You haven't added any favorites yet! Find a title you like on the
    Nintendo Channel, then select "Add to Favorites".</div>
{% endif %}
</div>
</div>

{% include "components/details_modal.html" %}
{% endblock %}