{% extends "generic/base.html" %}

{% block title %}
WiiLink Checkout | Polls
{% endblock %}

{% block content %}
{% set page_title = "Polls" %}
{% include "components/page_header.html" %}

<div class="min-h-screen sm:px-6 lg:px-8 py-12">
    <div class="max-w-6xl mx-auto">
        {% if polls %}
        <div class="grid lg:grid-cols-2 gap-6">
            {% for poll in polls %}
            {% include "components/poll_card.html" %}
            {% endfor %}
        </div>
        {% include "components/pagination.html" %}
        {% else %}
        {% set empty_icon = "chart-line" %}
        {% set empty_title = "You haven't participated in any polls yet." %}
        {% set empty_message = "Polls are sent through the Everybody Votes Channel and appear here once you vote!" %}
        {% include "components/empty_state.html" %}
        {% endif %}
    </div>
</div>
{% endblock %}