{% if user_theme is defined and user_theme %}
{% set theme = user_theme %}
{% elif viewed_user %}
{% set theme = viewed_user.profile_picture|user_theme %}
{% else %}
{% set theme = None %}
{% endif %}
{% if theme %}--user-base: {{ theme.base }}; --user-light: {{ theme.light }}; --user-dark: {{ theme.dark }}; --user-soft: {{ theme.soft }}; --user-rgb: {{ theme.rgb }}; --user-transparent: {{ theme.transparent }};{% else %}--user-base: #202b31; --user-light: #374151; --user-dark: #111827; --user-soft: #4b5563; --user-rgb: 55, 65, 81; --user-transparent: rgba(255, 255, 255, 0.1);{% endif %}